@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 36% 97%;
    --foreground: 200 26% 25%;
    --card: 240 33% 99%;
    --card-foreground: 200 26% 25%;
    --popover: 240 33% 99%;
    --popover-foreground: 200 26% 25%;
    --primary: 239 77% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 174 42% 92%;
    --secondary-foreground: 200 26% 25%;
    --muted: 205 33% 95%;
    --muted-foreground: 201 19% 42%;
    --accent: 205 33% 92%;
    --accent-foreground: 200 26% 25%;
    --destructive: 6 51% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 198 16% 78%;
    --input: 198 19% 64%;
    --ring: 239 77% 60%;
    --radius: 0.75rem;
    --income: 167 76% 25%;
    --expense: 6 51% 46%;
  }

  .dark {
    --background: 210 22% 10%;
    --foreground: 174 42% 92%;
    --card: 210 24% 16%;
    --card-foreground: 174 42% 92%;
    --popover: 210 24% 16%;
    --popover-foreground: 174 42% 92%;
    --primary: 239 78% 66%;
    --primary-foreground: 210 22% 10%;
    --secondary: 210 24% 20%;
    --secondary-foreground: 174 42% 90%;
    --muted: 210 21% 19%;
    --muted-foreground: 198 19% 64%;
    --accent: 210 24% 20%;
    --accent-foreground: 174 42% 90%;
    --destructive: 6 51% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 24% 22%;
    --input: 206 21% 26%;
    --ring: 239 78% 66%;
    --radius: 0.75rem;
    --income: 167 70% 45%;
    --expense: 6 60% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-unbounded), sans-serif;
  }
}